/* ===========================================
   Banner
   =========================================== */

   #banner {
      background-image: url(../img/banner.jpg);
      background-size: cover;
   }
   
   .banner_box {
      padding: 120px 0 60px 0;
   }
   
   .banner_box .btn-cta {
      font-size: 18px;
      padding: 14px 60px;   
   }
   
   .banner_box p {
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
   }
   
   /* ===========================================
      Main
      =========================================== */
   
   main {
      display: flex;
      justify-content: space-between;
   }
   main.wrapper{
      display: flex;
   }


   /* left */
   
   .left {
      padding: 30px 15px 0 15px;
      width: 640px;
      max-width:60%;
   }
   
   #gallery {
      
      display: flex;
      flex-flow: wrap;
      margin: 35px 0;
      overflow: hidden;
   }
   #gallery img {
      display: flex;
      max-width: 100px;
      margin: 5px;
   }
   /* right */
   
   .right {
      padding: 30px 15px 0 15px;
      max-width:35%;
   }
   
   .right h3 a {
      color: #333;
      border-bottom: 1px solid #cccccc;
   }
   
   .right h3 a:hover {
      color: #be0a35;
      text-decoration: none;
   }
   
   a.readmore {
      margin-top: 8px;
      display: flex;
      display: block;
   }
   img .thumb{
      display: flex;
      float: left;
      max-width: 90%;
   }