html {
    background-color: #fff;
    background-image: url(../img/tile.png);
    font-size: 20px;
    font-weight: bold;
}
 



body {
    border: 10px solid white;
    height: 600px;
    margin: 30px auto;
    max-width: 300px;   
    padding: 40px 100px;
    background-image: url(../img/bg.png);
    background-size: 100%;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}


h1{
    font-family: 'Great Vibes', cursive;
    font: size 30px;

}

span{
    color:red;
}

mark {
    background-color:bisque;
    text-shadow: 2px 2px 20px #666;
    text-transform: uppercase;
}

footer {
    margin-top: 40px;
}
 
footer p {
    margin: 0;
    text-align: right;
    font-size: 20px;

}
 
.date {
    margin-top: 10px;
    font-size: 12px;
}