html {
    background-color: #fff;

}

*img {
    width: 100%;
}

body {
    border-top: #0288CC solid 1px;
    font-family: Lucida Grande;
    margin: 0 auto;
    line-height: 1.8;
}
h1,
h2,
h2,
h3,
h4 {
    font-family: 'Manjari', sans-serif;

}

h1,
h2,
h3,
a.letter,
a.learnmore,
div#report p,
a.blue {
    color: #0288CC;
}

.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

*
/* header */

/*         */

header.wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#mainmenu {
    display: flex;
    list-style: none;
    text-decoration: none;
}

#mainmenu li {
    font-size: 16px;
    text-decoration: none;
    padding-left: 20px;

}

#mainmenu li a {
    font-size: 16px;
    color: #66BB44;
    text-decoration: none;

}

#mainmenu li a:hover {
    background-color: #66BB44;
    color: #ffffff;
}



#banner {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.banner_box {
    padding: 120px 0 60px 0;
}

.banner_box p {
    color: white;
    display: flex;
    justify-content: flex-end;
    line-height: 1.4;
    text-align: right;

}

.banner_box h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    text-align: right
}




/* main */
/*         */
.ourcommitments {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 20px;

}

#people,
#planet,
#plate {
    width: 30%;
}

a.learnmore {
    text-decoration: none;
}

.stakeholders {
    display: flex;
    justify-content: space-between;

}

#video,
#report,
.text {
    width: 30%;
}

/* footer */
/*         */
footer  {
    background-color: #0E0E0E;
    color: #fff;
    font-size: 11px;

}


footer .wrapper {
    align-items: center;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
 
  

}

nav ul {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav ul li {

    padding-top: 5px;
    padding-right: 10px;
    font-family: 10px;
}

nav li a {
    color: #ffffff;
    display: block;
    padding: 8px 16px;
    font-size: 10px;
}






.left_col {
    width: 60%;


}

#contact_footer {

    color: #ffffff;
    display: flex;
    font-size: 10px;
}