.btn1 {
    background: #ccc;
    border: solid;
    color: black;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    transition: 3s;
    text-decoration: none;
    text-transform: uppercase;


}

.btn1 hover {
    background-color: black;
    color: #fff;
}


.btn2 {
    background-color: #c91212;
    border: none;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn3 {

    background-color: #ccc;
    background-image: url(.../img/logo-tiktok.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 5px;
    background-size: 20px;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    padding: 5px 5px 5px 25px;
    text-decoration:none;
}