.btn1 {
    background: #ccc;
    border: solid;
    color: black;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    transition: 3s;
    text-decoration: none;
    text-transform: uppercase;

}
.btn1:hover {
	background-color: black;
	color: #ffff;
}


.btn2 {
    background-color: #c91212;
    border: none;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn2:hover {
    background-color: #e26765;
    color:#fff
}

.btn3 {
    background-color: #ccc;
    background-image: url(../img/logo-tiktok.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position-x: 10px;
    background-position-y:center;
    background-size: 50px;
    border-image-width:100%;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:20px;
    padding: 20px;
    padding-left: 70px;
    text-decoration:none;
    text-align: center;
}
.btn3:hover:hover {
    background-size: 60px;
    text-decoration: underline;
    transition: 5s;
}