**
 * Start Styles
 *
 *
 *
 */

/* RESET */
/* ===== */

img {
   border: 0;
   max-width: 100%;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.wrapper {
    margin: 0px auto;
    max-width: 75rem; /* =1200px */
 }