/* ======= */

/* MAIN*/
main {
    padding: 20px;
}

.info {
    margin: auto;
    max-width: 65rem;
}

.leftimage {
    float: left;
    padding: 0 0.625rem 0.625rem 0;
}

div.wrapper {
    padding: 20px 0;
    width: 100%;
    margin: 0;
    text-align: left;
    display: flex;
    flex-flow: row nowrap;
}

#ourservices {
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;


}

h3 {
    text-align: center;

}

.container_col {
    justify-content: space-between;
    max-width: 30%;

}

.rightimage {
    float: right;
    padding: 0 10px 10px 0;
}

.midi {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-left: 10%;

}

#ourteams_1,
#ourteams_2 {
    max-width: 60%;
    justify-content: center;
}

.mid_2 {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-left: 10%;

}

#ourteams_3,
#ourteams_4 {
    max-width: 60%;

}

h4 {
    margin-bottom: 0.625rem;
    margin: 0;
    padding-left: 0.938rem;
}

p {
    margin-bottom: 0.625rem;
    margin: 0;
    padding-left: 0.938rem;
    font-size: 0.875rem;
}
