/**
 * Start Styles
 *
 * @author Nalan ORAL <nalan.oral@student.odisee.be>
 *
 */

/* RESET */
/* ===== */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    max-width: 100%;
}


/* GENERAL */
/* ======= */
/* elements */


body {
    background-color: #fff;
    font-size: 16px;
    line-height: 1.4;
    margin: 1.25rem auto 0 auto;
    padding: 0.625rem 1.25rem;
}

#pagewrapper{
 background-color: #f8f8f8;
 margin: 0 auto;
 max-width: 83.75rem;
}

h1,
h2,
h3,
h4 {
    color: #311181;
    font-weight: bold;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    padding: 0 0 0.65rem 0;
    text-decoration: none;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;

}

h3 {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
}

h4 {
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

h1,
h2,
h3,
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:1.8em;
}

a {
    color: #9d060b;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}



#logo span {
    display: none;
}


.wrapper {
    display: flex;
    flex-flow: row nowrap;
    
    margin: 0 auto;
    padding: 1.25rem 0;
    text-align: left;
    width: 90%;
    
    
}
main {
    width: 100%;
}


/* HEADER */
/* ======= */


header {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}


#logo span {
    display: none;
}


img.logo {
    display: block;
}

/* ===========================================/
      Banner
/ =========================================== */

#banner {
    border: 1px solid rgb(22, 22, 23);
    height: 16.25rem;
    position: relative;
}


/* FOOTER */
/* ======= */
#site_footer {
    font-size :14px;
    width: 100%;

}

@media (min-width: 30em){
    h1 {
        font-size: 2rem;
        margin: 0;
    }

    nav{
		font-size: 1rem;
		padding: 1.125rem 1.125rem;
        display: flex;
	}
}



@media (min-width: 50em) {
    h1 {
        font-size: 4rem;
        margin: 0;
    }
}