/**
 * Start Styles
 *
 * @author Nalan ORAL <nalan.oral@student.odisee.be>
 *
 */
/* GENERAL */


img {
    max-width: 100%;
}



body {
    background-color: #fff;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
    text-align: left;

}

#pagewrapper {
    background-color: beige;
    margin: 0 auto;
    max-width: 1018px;
}

/* ======= */

/* HEADER */

header {

    background-color: #0c0f38;
    display: block;
  
    padding: 20px;
    width: 100%;
}

#header #search {
    display: block;
    float: right;
}

#header input {
    display: block;
    float: left;
    width: 229px;
    margin: 0 5px 0 0;
    padding: 5px;
    color: #ebe3d9;
    background-color: #603ad2;
    border: 1px solid #DBDECD;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#header input#go {
    width: auto;
    height: auto;
    margin: 0;
    padding: 4px;
}



/* ======= */

/* MAINMENU*/

#mainmenu {
    background-color: #640106;
    display: flex;
    flex-flow: row nowrap;
    margin: 0px;
    padding-left: 20px;
    list-style-type: none;
    text-transform: uppercase;
}



#mainmenu a {
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    padding: 10px;
    text-decoration: none;
    transition: all 0.5s;

}

#mainmenu li:hover a {
    background-color: #e40d18;
}

#mainmenu li.active a {
    background-color: #640106;
}

/* ===========================================
   Banner
   =========================================== */

/* banner styles here */


#banner {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: #640106 solid 4px;
    box-shadow: 5px 5px 5px #8a8282;
}

#banner p {

    color: black;
    opacity: 0.7;
}

#banner h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 20px 20px, 20px;
    text-align: center;
    text-transform: uppercase;

}

/* ======= */

/* MAIN*/
main {
    padding: 20px;
}

.info {
    margin: auto;
    width: 900px;
}

.leftimage {
    float: left;
    padding: 0 10px 10px 0;
}

div.wrapper {
    padding: 20px 0;
    width: 100%;
    margin: 0;
    text-align: left;
    display: flex;
    flex-flow: row nowrap;

}


#container {
    display: flex;
   justify-content: space-between;
   

}
.container_col{
    justify-content: space-between;
    max-width: 30%;

}