/**
 * Start Styles
 *
 * @author Nalan ORAL <nalan.oral@student.odisee.be>
 *
 */
/* GENERAL */

/* ======= */

/* HEADER */

header {
    background-color: #0c0f38;
    padding: 1.65rem;

}

header h1 img {
    display: block;
}

.button-search {

    position: relative;
    border: #d61b21;
    border-width: 0.03rem;
}

#header input {

    max-width: 13.75rem;
    margin: 0 5px 0 0;
    padding: 5px;
    color: #ebe3d9;
    background-color: #603ad2;
    border: 1px solid #DBDECD;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#header input#go {
    width: auto;
    height: auto;
    margin: 0;
    padding: 4px;
}

/* ======= */

/* MAINMENU*/
nav {
    padding-bottom: 1rem;
}

nav ul {

    justify-content: space-between;
    text-align: center;

}

nav li {
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    list-style: none;
    margin: 0.3125rem;
    padding: 0.65rem;
    text-transform: uppercase;
}

nav li a {
    background-size: 2rem;
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

nav li a:hover {
    background-color: #9d060b;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a.active {
    background-color: #9d060b;
    color: #fff;
    padding: 10px;
}



/* ===========================================
   Banner

   =========================================== */
#banner {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: #640106 solid 4px;
    box-shadow: 5px 5px 5px #8a8282;
}

#banner h3 {

    font-weight: bold;
    padding: 20px 20px 20px 20px;
    text-align: center;
    text-transform: uppercase;
}


/* ======= */

/* MAIN*/
main {
    padding: 1.25rem;
}

.info {
    margin: auto;
    width: 100%;
}

.leftimage {
    float: left;
    padding: 0 0.625rem 0.625rem 0;
}

#ourservices {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}

#training {
    display: flex;
    justify-content: space-between;

}

.field_item p {
    text-align: center;
}


.button {
    vertical-align: middle;
    margin: 1rem 1rem 1rem 0;
    padding: 0.5em 0.5em;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.65rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #9d060b;
    color: #fff;

}

h3 {
    text-align: center;

}

.container_col {
    justify-content: space-between;
    max-width: 30%;

}

.rightimage {
    float: right;
    padding: 0 10px 10px 0;
}

.midi {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-left: 10%;

}

#container_team {
    max-width: 100%;

}

#container_tm2 {
    max-width: 100%;

}

#ourteams_1,
#ourteams_2 {
    max-width: 100%;
    justify-content: center;
}

.mid_2 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-left: 10%;

}

#ourteams_3,
#ourteams_4 {
    width: 100%;

}

h4 {
    margin-bottom: 0.625rem;
    margin: 0;
    padding-left: 0.938rem;
}

p {
    color: #57575e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-style: normal;
    margin-bottom: 0.625rem;
    line-height: 1.625em;
    padding-left: 0.938rem;
    text-align: left;
}

/* ===========================================
    Footer
    =========================================== */
#doormat {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #9d060b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #0e1f4e;
}

.doormat_col {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-1 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-2 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #fff;
    border-top: 2px solid #ebeceb;
    color: #666;
    font-size: 0.625rem;
}

#site_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer>div a {
    text-decoration: underline;
    color: #666;
    font-size: 0.875rem;
}

.containerframe {
    position: relative;
    padding-bottom: 75%;
    height: 43rem;
    overflow: hidden;
    max-width: 80%;

}

#social_icons {
    list-style: none;
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-end;
}

#social_icons li {
    display: flex;
    margin-left: 10px;
    max-width: 50%;
}

small {
    font-size: 0.85rem;
    color: #0e1f4e;
}


/*small device */

@media (min-width: 360px) {

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

}

@media(min-width: 550px) {


    .header a {
        display: block;
        text-align: left;
    }

    #wrapper {
        width: 80%;
    }


    .col-1,
    .col-2,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .location {
        display: block;
        width: 80%;
        margin-top: 0;
    }

    #site_footer {
        display: flex;

    }

    .button-search {
        display: flex;
    }


}


/*medium devices (tablets,768px and up */
@media (min-width: 800px) {

    header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;

    }

    #wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }

    #container {
        max-width: 90%;
    }


    #infos {
        max-width: 90%;
    }

    div#doormat .wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 90%
    }


    nav ul {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .banner_box {
        padding: 7.5rem 0 3.75rem 0;
        margin: 0px auto;
        max-width: 60rem;
        width: 100%;
        font-size: 1.125rem;
        padding: 0.875rem 3.75rem;
    }

    .banner_box p {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 4rem;
        text-align: center;
        background-color: #000000;
        color: #fff;
    }

}