@import "css/general.css";
@import "css/contact.css";
@import "css/header.css";
@import "css/footer.css";
@import "css/navigation.css";
@import "css/maincontent.css";
@import "css/index.css";



/* img */

img {
   max-width: 100%;
}


/* ===========================================
   Banner
   =========================================== */

#banner {
   background-image: url(../img/banner.jpg);
   background-size: cover;
}

.banner_box {
   padding: 120px 0 60px 0;
}

.banner_box .btn-cta {
   font-size: 18px;
   padding: 14px 60px;
}

.banner_box p {
   color: white;
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 30px;
}

a.btn-cta:hover {
   color: #fff;
}



/* ===========================================
      Main
      =========================================== */

main {
   display: flex;
   justify-content: space-between;
   padding-bottom: 3.125rem;
}

main.wrapper {
   display: flex;
}


/* left */

.left {
   padding: 1.875rem 0.938rem 0 0.938rem;
   width: 60%;
}
.left p {
 width: 70%;

}



#gallery {

   display: flex;
   flex-flow: wrap;
   margin: 2.188rem 0;
   overflow: hidden;
}

#gallery img {
   display: flex;
   max-width: 100px;
   margin: 5px;
}

a.lnk-cta {
   margin: 5px;
}

/* right */

.right {
   display: flex;
   flex-direction: column;
   float: right;
   padding: 30px 15px 0 15px;
   max-width: 35%;
}

.right h3 a {
   color: #333;
   border-bottom: 1px solid #cccccc;
}

.right h3 a:hover {
   color: #be0a35;
   text-decoration: none;
}

a .readmore {
   display: flex;
   padding: 2px;
   float: right;
}

img .thumb {
   display: flex;
   float: left;
   max-width: 80px;
   margin: 0px 8px 8px 0px;
}